


/* Resets default browser CSS.
-------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    transition: all 0.4s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

a[disabled='disabled'] {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
}

a:focus {
    outline: 0;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

i {
    transition: all 0.4s ease-in-out;
}

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


/* input */

input,
select {
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}

input:hover {
    transition: all 0.4s ease-in-out;
}


/* blockquote */

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* table */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* List */

ul li {
    list-style: none;
}

ul,
menu,
dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}


/* links */

img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
    display: block;
}

button {
    outline: 0;
}

ol,
ul {
    list-style-position: inside;
}

li {
    list-style: none;
}